/* google poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Google space Mono font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    /* background: linear-gradient(to right, #041308, #0b3317); */
    background: black;
}

.space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
}

/* header */

header {
    max-width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 130px;
    background: linear-gradient(to right, #041308, #0b3317);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50vw;
    padding: 0 20px;
}

.logo {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #DF5756;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    line-height: 2rem;
    position: relative;
    transition: all .3s ease-in-out;
}

nav ul li a:hover {
    color: orange;
}

nav ul li a::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    display: block;
    width: 100%;
    height: 2px;
    background-color: orange;
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* responsive for mobile and tablet */

/* mobile */
@media screen and (max-width: 576px) {
    header {
        position: relative;
    }

    nav {
        flex-direction: column;
        gap: 5px;
    }

    nav ul {
        gap: 30px;
    }
}

/* tablets */

@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        position: relative;
    }

    nav {
        flex-direction: column;
        gap: 20px;
    }
}

/* header end */

/* hero */

.hero {
    width: 100%;
    height: auto;
    margin-bottom: 150px;
}

.hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text {
    width: 50%;
}

.hero_title {
    font-weight: 800;
    font-size: 6rem;
    line-height: 7rem;
    color: #DF5756;
    margin-bottom: 1.3rem;

}

.hero_description {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: left;
    max-width: 650px;
    margin-bottom: 3rem;
}

.button_conatiner {
    gap: 3rem;
    display: flex;
    margin-left: 3rem;
}

.hero_btn {
    padding: 1.5rem 4rem;
    background-color: transparent;
    border: 1px solid #0b3317;
    outline: none;
    border-radius: 1000px;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    overflow: hidden;
}

@keyframes download {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        top: 0px;
        left: 5px;
    }

    50% {
        top: 0px;
        left: 10px;
    }

    75% {
        top: 0px;
        left: 15px;
    }

    100% {
        top: 0px;
        left: 80px;
    }
}

.hero_btn:focus .annimation_btn {
    position: relative;
    animation: download 2s ease-in-out 1 alternate;
}

.hero_image {
    width: 40%;
}

.hero_image img {
    margin-left: 150px;
    border-radius: 50%;
    border: 1px solid #0b3317;
    box-shadow: 4px 4px 20px #0b3317;
    cursor: pointer;
    transition: transform 3s ease-in-out;
}

.hero_image img:hover {
    transform: scale(1.1);
    outline: 1px solid #DF5756;
}

.social {
    position: fixed;
}

.social_container {
    position: relative;
    background-color: #0b3317;
    display: inline-block;
    border-radius: 1000px;
}

.social_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* .social_icon:hover {} */

.social_icon i {
    font-size: 1.5rem;
    color: #fff;
}

.social_icon::after {
    content: attr(aria-label);
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(50%);
    background-color: #0b3317;
    color: #DF5756;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, left 0.3s ease;
}

.social_icon:hover::after {
    opacity: 1;
    left: 110%;
    transform: translateY(-50%) translateX(10px);
}

/* social end */

/* responsive for mobile and tablets */

/* mobile */

@media screen and (max-width: 576px) {
    .hero_container {
        flex-direction: column-reverse;
    }

    .hero_text {
        width: 100%;
    }

    .hero_image {
        width: 50%;
        margin-left: -20px;
    }

    .hero_image img {
        max-width: 60vw;
        height: auto;
        margin-left: 1px;
        border-radius: 50%;
        border: 1px solid #0b3317;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .hero_image img:hover {
        border: 0.1px solid #0b3317;
    }

    .hero_title {
        width: 90%;
        font-weight: 600;
        font-size: 2rem;
        margin-left: 20px;
        line-height: 3rem;
        margin-bottom: 20px;
    }

    .hero_description {
        width: 90%;
        font-weight: 500;
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 20px;
        margin-left: 20px;
        color: #fff;
    }

    .button_conatiner {
        flex-direction: row;
        gap: 0;
        margin-left: 0;
    }


    .hero_btn {
        padding: 1rem 2rem;
        background-color: transparent;
        border: 1px solid #0b3317;
        outline: none;
        border-radius: 1000px;
        color: #fff;
        cursor: pointer;
        font-size: 1.1rem;
        overflow: hidden;
    }

    .social {
        display: none;
    }
}

/* tablets */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .hero_container {
        flex-direction: column-reverse;
    }

    .hero_text {
        width: 100%;
    }

    .hero_image {
        width: 50%;
        margin-left: -20px;
    }

    .hero_image img {
        max-width: 60vw;
        height: auto;
        margin-left: 1px;
        border-radius: 50%;
        border: 1px solid #0b3317;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .hero_image img:hover {
        border: 0.1px solid #0b3317;
    }

    .hero_title {
        width: 70%;
        font-weight: 600;
        font-size: 4.2rem;
        margin-left: 40px;
        line-height: 6rem;
        margin-bottom: 10px;
    }

    .hero_description {
        width: 90%;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.5rem;
        color: #fff;
        margin-bottom: 20px;
        margin-left: 40px;
    }

    .button_conatiner {
        flex-direction: row;
        gap: 0;
        margin-left: 50px;
    }


    .hero_btn {
        padding: 1.3rem 3rem;
        margin-left: 30px;
        background-color: transparent;
        border: 1px solid #0b3317;
        outline: none;
        border-radius: 1000px;
        color: #fff;
        cursor: pointer;
        font-size: 1.1rem;
        overflow: hidden;
    }

    .social {
        display: none;
    }
}


/* hero end */

.services {
    width: 100%;
    height: auto;
    margin-bottom: 150px;
}

.services_title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: gray;
    text-align: center;
    margin-bottom: 1rem;
}

.services_heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    color: #fff;
    text-align: center;
    margin-bottom: 4.1rem;
}

.services_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}

.service_card {
    background: #0b3317;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 4.1rem;
    border-radius: 20px;
    position: relative;
    transition: transform 0.1s ease-in-out;
}

.service_card:hover {
    transform: scale(1.01);
}


.service_card img {
    width: 100px;
    height: 100px;
    color: #fff;
    margin-bottom: 2.5rem;
    mix-blend-mode: multiply;
    background-color: white;
}

.card_title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: #fff;
    margin-bottom: 2.5rem;
}

.card_details {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: gray;
    margin-bottom: 1rem;
}

.card_span {
    margin-right: 1rem;
}

/* responsive for mobile and tablets */

/* mobile */

@media screen and (max-width: 576px) {
    .services_container {
        flex-direction: column;
        gap: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .services_heading {
        font-weight: 700;
        font-size: 2rem;
        line-height: 3rem;
        color: #fff;
        text-align: center;
        margin-bottom: 4.1rem;
    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .services_container {
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
    }
}

/* services end */

.skill {
    width: 100%;
    height: auto;
    margin-bottom: 150px;
}

.skill_container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 300px;
    gap: 150px;
}

.skill_text {
    width: 35%;
}

.skill_title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: gray;
    margin-bottom: 1rem;
}

.skill_heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    color: #fff;
    margin-bottom: 4.1rem;
}


.skill_collection {
    width: 65%;
    background-color: #041308;
    height: auto;
    padding-right: 400px;
}

.progress-container {
    width: 471px;
    background: #0b3317;
    height: 100px;
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.progress-container:hover {
    transform: scale(1.04);
}

.progress-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 14px;
    color: #fff;
}

.progress-bar {
    background-color: #444;
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
    position: relative;
}

.progress {
    background-color: #5c9ce6;
    height: 100%;
    margin-bottom: 50px;
    width: 75%;
    transition: width 0.5s ease-in-out;
}

.progress1 {
    width: 70%;
}

.progress2 {
    width: 90%;
}

.progress3 {
    width: 80%;
}

/* responsive mobile and tablet */

/* mobile */

@media screen and (max-width: 576px) {
    .skill_container {
        flex-direction: column;
        margin: 0;
    }

    .skill_text {
        width: 100%;
    }

    .skill_title {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        color: gray;
        margin-bottom: 1rem;
        text-align: center;
    }

    .skill_heading {
        font-weight: 600;
        font-size: 3rem;
        line-height: 2.5rem;
        color: #fff;
        margin-bottom: 4.1rem;
        text-align: center;
        padding-left: 80px;
        margin-left: -70px;
    }

    #skill_btn {
        text-align: center;
    }


    .progress-container {
        width: 350px;
        background: #0b3317;
        height: 100px;
        padding-top: 25px;
        padding-left: 45px;
        padding-right: 45px;
        border-radius: 16px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: transform 0.1s ease-in-out;
    }

    .progress-container:hover {
        transform: scale(1);
    }
}

/* tablets */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .skill_container {
        flex-direction: column;
        margin: 0;
        gap: 10px;
    }

    .skill_text {
        width: 100%;
    }

    .skill_title {
        text-align: center;
    }

    .skill_heading {
        text-align: center;
    }

    #skill_btn {
        margin-left: 300px;
    }
}

/* skills end */

/* ratio */

.ratio {
    width: 100%;
    height: auto;
    margin-bottom: 150px;
    padding-bottom: 90px;
}

.ratio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 170px;
}

.radio_card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    height: 200px;
    padding: 50px 60px;
    transition: transform 0.3s ease-in-out;
}

.radio_card:hover {
    transform: scale(1.04);
}

.ration_img {
    width: 100%;
}

.ration_img img {
    width: 50px;
    height: 50px;
}

.ratio_text {
    margin-left: -130px;
    margin-top: -20px;
}

.ratio_title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ratio_description {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: gray;
}

/* responsive for mobile and tablets */

/* mobile */
@media screen and (max-width: 576px) {
    .ratio_container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-left: 10px;
    }

    .radio_card {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        /* height: 400px; */
        padding: 50px 60px;
        transition: transform 0.3s ease-in-out;
    }

    .radio_card:hover {
        transform: scale(1);
    }


    .ratio_text {
        margin-left: 100px;
        margin-top: -110px;
    }

    .ratio_title {
        font-weight: 500;
        font-size: 2rem;
        line-height: 3rem;
        color: #fff;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .ratio_description {
        width: 80vw;
        margin-left: -90px;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
        color: gray;
        text-align: center;
    }

}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .ratio_container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-left: 10px;
    }

    .radio_card {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 50px 60px;
        transition: transform 0.3s ease-in-out;
    }
    .radio_card:hover {
        transform: scale(1);
    }

    .ration_img{
        text-align: center;
        margin-left: -80px;
    }

    .ratio_text {
        text-align: center;
        margin-left: 100px;
        margin-top: -110px;
    }
}

/* ratio end */

/* awesome portfolio  */

.awesome{
    width: 100%;
    height: auto;
    margin-bottom: 150px;
}

.awesome_title{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: gray;
    text-align: center;
    margin-bottom: 1rem;
}

.awesome_heading{
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}


.awesome_container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    row-gap: 20px;
    margin-left: 250px;
}

.awesome_card{
    width: 66%;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.awesome_card:hover{
    transform: scale(1.04);
}

.awesome_container .card_image img{
    width: 303px;
    height: 186px;
    border-radius: 20px;
}

.card_title_awesome a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #fff;
}

/* responsive for mobile */

@media screen and (max-width: 576px) {
    .awesome_container{
        grid-template-columns: 1fr;
        margin-left: 10px;
    }

    .awesome_card{
        margin: 0 10px 10px 5px;
    }

    .card_title_awesome{
        margin-left: 100px;
    }

    .card_title_awesome a{
        text-decoration: none;
        font-weight: 700;
        font-size: 0.6rem;
        line-height: 2rem;
        color: #fff;
    }
}