/* google poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, #041308, #0b3317);
}

header{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50vw;
    padding: 0 20px;
}

.logo{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #DF5756;
    cursor: pointer;
}

nav ul{
    display: flex;
    gap: 50px;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    line-height: 2rem;
    position: relative;
    transition: all .3s ease-in-out;
}

nav ul li a:hover{
    color: orange;
}

nav ul li a::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    display: block;
    width: 100%;
    height: 2px;
    background-color: orange;
    transition: transform 0.3s ease-in-out;
}
nav ul li a:hover::after{
    transform: translateX(-50%) scaleX(1);
}

/* responsive for mobile and tablet */

/* mobile */
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        gap: 5px;
    }

    nav ul{
        gap: 30px;
    }
}

/* tablets */

@media screen and (min-width: 576px) and (max-width: 992px) {
    nav{
        flex-direction: column;
        gap: 20px;
    }
}